<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Basic CRUD methods">
  <test thread-count="5" name="Basic CRUD">
    <classes>
      <class name="dataBaseProj.dataBaseCon">
		  <methods>
			  <exclude name="DeleteUser"></exclude>
		  </methods>
		  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
